

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {

  line-height: 1.4;
  height: 100%;
}

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  overflow-x: hidden;
  background-image: url("../img/space.jpg");
  background-color: #05041e;
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 600px) {
  body {
    background-image: url("../img/spacemobile.jpg");
  }
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('LeagueSpartan-Bold.otf');
  font-style: normal;
  font-weight: normal;
}

p{
  font-size: 28px;
  font-family: 'Khand', sans-serif;
}

h1, h2{
  font-family: 'LeagueSpartan-Bold', sans-serif;
}

/* Nav bar  */

.nav-custom{
  position: fixed;
  z-index: 99999;
  top: 0;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Khand', sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.hide {
  display: none;
}

.primary-nav {
  font-size: .9em;
  margin-left: -.5em;
  margin-right: -.5em;
  text-align: center;
}
.nav-container ul {
  display: inline-block;
}

.primary-nav li {
  display: inline-block
}

.primary-nav a {
  padding: .1em .5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  color: #EFC3F5;
}

@media (min-width: 600px) {
  .primary-nav a:hover:after {
    content:"";
    position: absolute;
    left: .5em;
    right: .5em;
    bottom: -.2em;
    border-bottom: solid 2px #BA2230
  }
}

.primary-nav .work .primary-nav .work:after,.play .primary-nav .play:after,.contact .primary-nav .contact:after {
  content: "";
  position: absolute;
  left: .5em;
  right: .5em;
  bottom: -.2em;
  border-bottom: solid 2px #BA2230
}

@media only screen and (min-width: 800px) {
  .primary-nav-header {
    text-align:right;
    position: absolute;
    top: 2em;
    right: 2em
  }
}

@media only screen and (min-width: 1200px) {
  .primary-nav {
    font-size:1em
  }
}

#particles-js{
  height: 100vh;
  margin-bottom: 0;
  cursor: crosshair;
  display: flex;
  justify-content: center;
}

.big-intro {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 6.4em;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  color: white;
  opacity: 1;
}

@media (max-width: 600px) {
  .big-intro {
    font-size: 4em;
    top: 50%;
  }
}

  .small-head{
    content: url("../img/me-scroll.png");
    height: 250px;
    width: 200px;
    position: absolute;
    top: 15%;
    align-content: center;
    animation: bounce 5s ease infinite;
    -webkit-filter: drop-shadow(2px 2px 2px white);
    filter: drop-shadow(0px 0px 3px white);
  }

@media (min-width: 700px) {
  .small-head {
  display: none;
  }
}

  @keyframes bounce {
    50% {
      transform: translateY(05%);
    }
    100% {
      transform: translateY(0);
    }
  }

.scroll::before{
  content: '╲╱';
  color: #fff;
  position: absolute;
  opacity: 0.9;
  text-shadow: 0 0 6px rgba(0,0,0,0.5);
  font-size: 20px;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  bottom: 20px;
  left: 50%;
  margin-left: -30px;
  animation: bounce .8s ease infinite;
}

.divide{
  height: 60vh;
  width: 100%;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  opacity: .8;
  text-align: center;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 3.8em;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.text-divide-wrap{
  margin: 5% 15% 5% 15%;
  font-weight: bold;
}

@media (max-width: 600px) {
  .divide {
    height: auto;
    font-size: 1.8em;
    padding: 10px 10px 0px 10px;
    font-weight: bold;
  }
}

.red{
  color: red;
  font-style: oblique;
  text-decoration: underline;
  animation-delay: 1s;
}

.header{
    text-align: center;
    letter-spacing: 6px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 3.8em;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'LeagueSpartan-Bold', sans-serif;
    /* text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255, 255, 255, 0.18); */
  }

@media (max-width: 600px) {
  .header {
    margin: 10% 10% 0% 10%;
  }
}

#about {
  height: 100vh;
  position: relative;
  font-family: 'Space Mono', monospace;
  display: grid;
  grid-template-columns: 400px auto;
  width: auto;
  background-size: cover;
}

@media (max-width: 600px) {
  #about h2{
    font-size: 1.2em;
  }

  #about p{
    font-size: 1.4em;
    line-height: 24px;
  }
}

.stars {
  position: absolute;
}

.textbox-about {
  margin: -5% 5% 0% 0%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 15px;
  border: #solid 10px #000;
  background-color: rgba(0, 0, 0, 0.17);
  padding: 10px 30px 10px 30px;
}

.textbox-about:after {
  content: '';
  position: absolute;
  left: 0;
  top: 30%;
  width: 0;
  height: 0;
  border: 45px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.17);
  border-left: 0;
  border-bottom: 0;
  margin-top: -22.5px;
  margin-left: -45px;
}

@media (max-width: 600px) {
  .textbox-about {
    margin: 0% 12% 0% 10%;
    overflow: visible;
    padding: 10px 10px 10px 10px;
  }
}

.about-text-wrap{
  position: relative;
  height: 100%;
}

.head-image{
  display: inline-block;
  margin: -20% 0% 0% 12%;
  background-image: url("../img/head-image.png");
  background-repeat: no-repeat;
  position: relative;
  animation-delay: .8s;
  -webkit-filter: drop-shadow(2px 2px 2px white);
  filter: drop-shadow(0px 0px 3px white);
  animation: bounce 5s ease infinite;
}

@media (max-width: 700px) {
  .head-image{
    display: none;
  }
}

#skills {
  overflow: hidden;
  height: auto;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(5, 4, 30, 0.3), rgba(0, 0, 0, 0.31));
  font-family: 'Khand', sans-serif;
}

@media (max-width: 600px) {
  #skiller {
    margin: 2% 10% 1% 10%;
    height: auto;
  }
}

.skills{
  background-color: white;
  opacity: .9;
  height:8px;
  width:0px;
}

/* SKILLS BAR */


.textbox-skills{
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border: #solid 10px #000;
  background-color: rgba(0, 0, 0, 0.17);
  padding: 10px 30px 10px 30px;
  margin: 0% 20% 10% 20%;
}

@media (max-width: 600px) {
  .textbox-skills {
    margin: 1% 1% 1% 1%;
  }
}

.skillbar-container {
  position:relative;
  display:block;
  margin-bottom: 25px;
  background-color: #4E4E4E;
  height:10px;
  font-family: 'Khand', 'sans-serif';
}

/* WORK SECTION */

#work{
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.4));
}
.header-work {
  background-color: #f7f7f7;
  color: black;
}

#wrapper {
  width: 100%;
  overflow:hidden;
}

#stripe {
  background-color: rgba(255, 0, 0, 0.51);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height:400px;
  float:left;
  margin:0;
}

#square-one{
  background-color: rgba(0, 0, 255, 0.51);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height:400px;
  display:inline-block;
  float:right;
  margin:0;

}

#square-two{
  background-color: rgba(0, 0, 255, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height:400px;
  display:inline-block;
  margin:0;
}

#cross {
  background-color: rgba(255, 0, 0, 0.73);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height:400px;
  display:inline-block;
  margin:0;
  float:right;
}

#cross:hover {
  background-color: yellow;
}

#hours {
  height:25vh;
  clear:left;
}

.laptop-screen{
  height: 400px;
  width: 500px;
  margin-left: 20%;
}

.navigator {
  position: relative;
  top: -365px;
  left: 145px;
  width: 150px;
  height: 151px;
  background: url(../img/navi.svg) no-repeat;
  -webkit-animation: navigator 7s infinite ease-in-out alternate;
  -moz-animation: navigator 7s infinite ease-in-out alternate;
  -o-animation: navigator 7s infinite ease-in-out alternate;
  animation: navigator 7s infinite ease-in-out alternate;
}

@keyframes navigator {
  from {
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -webkit-transform: rotate(-55deg);
    transform: rotate(-55deg);
    -moz-transform-origin: 50% 100% 0 50%;
    -ms-transform-origin: 50% 100% 0 50%;
    -webkit-transform-origin: 50% 100% 0 50%;
    transform-origin: 50% 100% 0 50%;
    transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0
  }

  to {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -moz-transform-origin: 50% 100% 0 50%;
    -ms-transform-origin: 50% 100% 0 50%;
    -webkit-transform-origin: 50% 100% 0 50%;
    transform-origin: 50% 100% 0 50%;
    transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0
  }
}

@media (max-width: 700px) {
  .navigator {
    display: none;
  }
}

@media (max-width: 600px) {
  .observe {
    display: none;
  }
}

#contact{
   background-size: cover;
  background-image: url("../img/contact-planet.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
  overflow: hidden;
}

.header-contact {
  text-align: center;
  letter-spacing: 6px;
  margin-top: 20px;
  font-size: 3.8em;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'LeagueSpartan-Bold', sans-serif;
  padding-bottom: 5%;
}

@media (max-width: 600px) {
  #contact {
    position: relative;
    background-image: url("../img/contact-planet-mobile.png");
  }
}

.contact-wrap {
  display: inline-block;
  position: absolute;
  margin-top: 12%;
  margin-left: 60%;
  margin-right: 10%;
  transform: translate(-50%, -50%);
  font-family: 'Khand', sans-serif;
  -moz-border-radius: 30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  background-color: rgba(0, 0, 0, 0.28);
  padding: 10px 30px 10px 30px;
}

@media (max-width: 600px) {
  .contact-wrap{
    margin: 50% 50% 10% 50%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.85);
  }
}

.form-field {
  padding: 10px;
  position: relative;
  margin: 32px 0;
}

.input-text {
  width: 100%;
  height: 36px;
  font-family: 'Lato', 'sans-serif';
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: white;
}

.label {
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(177, 177, 177, 0.77);
  cursor: text;
  transition: transform 0.2s ease-in-out;
}

.submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  margin-left: 60%;
  border: solid white 1px;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  cursor: pointer;
}

/* FOOTER */

footer{
  font-family: cursive;
  background-color: #f7f7f7;
 text-align: center;
  overflow: hidden;
  color: black;
  height: 100px;
  width: 100%;
  margin-top: -10px;
}

@media (max-width: 600px) {
  footer{
    font-size: 10px;
  }
}

.fa {
  padding-left: 30px;
  padding-right: 30px;
  color: #05041e;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .fa{
    padding: 0px 25px 0px 25px;
    font-size: 25px;
    width: 25px;
  }
}

.fa:hover {
  color: #d60000;
  cursor: pointer;
  -webkit-transition: color 50ms ease-in;
  -moz-transition: color 50ms ease-in;
  -o-transition: color 50ms ease-in;
  transition: color 50ms ease-in;
}


/*
@media only screen and (min-width: 450px) {
  .map img {
    max-width:200%;
    margin: 0 auto 0 -33%
  }
}
*/

/* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  ::selection {
    background: #fc090c;
    text-shadow: #f2fcff;
  }
}
