

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.parallax {
  /* The image used */
  position: relative;
  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
}

html {

  line-height: 1.3;
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: #EFC3F5;
  overflow-x: hidden;
  background-image: url("../img/space.jpg");
  background-color: #231346;
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('LeagueSpartan-Bold.otf');
  font-style: normal;
  font-weight: normal;
}

p{
  font-size: 26px;
  font-family: 'Lato', 'sans-serif'
}

h1, h2, h3{
  font-family: 'Space Mono', monospace;
}

/* Nav bar  */


.nav-icon{
  padding: 20px 30px 30px 35px;
  position: fixed;
}

.side-nav{
  height: 100%;
  width:0;
  position: fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: #111;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  transition: 0.3s;
  display: block;
}

.side-nav a:hover{
  color: red;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 35px;
  margin-left: 50px;
}

#particles-js{
  height: 100%;
  margin-bottom: 0;
  cursor: crosshair;
}

.bigintro {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 6.4em;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  color: white;
  opacity: .8;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
  0px -5px 35px rgba(255, 255, 255, 0.3);
}

.intro-buttons{
 text-align: center;
  margin-top: -20%;
  margin-bottom: 20%;
  position: relative;
}

.contact-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 16px;
  border: none;
  cursor: pointer;
}

.empty-btn {

  background: transparent;
  color: #fff;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 16px;
  cursor: pointer;
}

.scroll::before{
  content: '╲╱';
  color: #fff;
  position: absolute;
  opacity: 0.9;
  text-shadow: 0 0 6px rgba(0,0,0,0.5);
  font-size: 20px;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  bottom: 20px;
  left: 50%;
  margin-left: -30px;
  animation: bounce .8s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.header{
  text-align: center;
  letter-spacing: 6px;
  margin-bottom: 3%;
  padding-bottom: 5%;
  margin-top: 3%;
  font-size: 3.6em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family:'LeagueSpartan-Bold', sans-serif;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
}

#about {
  background-blend-mode: normal;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  padding-bottom: 10%;
  font-family: 'Space Mono', monospace;
  padding-left: 5%;
  margin-right: 0;
  text-align: center;
}

.textbox-about{
  display: inline-block;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border: #solid 10px #000;
  background-color: rgba(0, 0, 0, 0.17);
  width:60%;
  padding: 10px 30px 10px 30px;
  margin-top: -05%;
  margin-left: -30% ;
  margin-right: auto ;
}

.aboutme{
  position: absolute;
  display: inline-block;
  padding: 3%;
   margin-left: 10%;
  margin-right: -10%;
  margin-top: -10%;
  animation-delay: .8s;
  -webkit-filter: drop-shadow(2px 2px 2px white);
  filter: drop-shadow(0px 0px 3px white);
  transform: translatey(0px);
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px) translateX(0px);
  }
  25% {
    transform: translatey(-30px) translateX(-10px);
  }
  50% {
    transform: translatey(0px) translateX(-15px);
  }

  75% {
    transform: translatey(20px) translateX(5px);
  }

  100% {
    transform: translatey(0px) translateX(0px);
  }
}

#skiller {
  padding-bottom: 0%;
  overflow-y: hidden;
  height: 100%;
}

.skills{
  background-color: white;
  opacity: .9;
  height:8px;
  width:0px;
}

.textbox-skills{
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border: #solid 10px #000;
  background-color: rgba(0, 0, 0, 0.17);
  padding: 10px 30px 10px 30px;
  margin-left: 40%;
  margin-right: 8%;
  margin-bottom: 8%;
}

.skillbar-container {
  position:relative;
  display:block;
  margin-bottom: 15px;
  background-color: #4E4E4E;
  height:8px;
  font-family: 'Lato', 'sans-serif';
}

.spacers {
  position: absolute;
  display: inline-block;
  padding: 3%;
  margin-left: 3%;
  margin-right: 5%;
  margin-top: -20%;
  animation-delay: .8s;
  animation-duration: 6s;
}

.astro{
  float: left;
  padding-top: 20%;
  padding-left: 7%;
  position: absolute;
  animation: astro-float 30s ease-in-out forwards;
}

@keyframes astro-float {
  0% {
    transform: translatey(0px) translateX(0px);
  }
  25% {
    transform: translatey(-80px) translateX(-30px);
  }
  50% {
    transform: translatey(-160px) translateX(0px);
  }
  75% {
    transform: translatey(-250px) translateX(20px);
  }
  100% {
    transform: translatey(-360px) translateX(0px);
  }
}


#work{
  overflow: hidden;
  height: 100%;
}

.header-work{
  padding-bottom: 30%;
  text-align: center;
  letter-spacing: 6px;
  margin-bottom: 3%;
  margin-left: 1px;
  margin-top: 1%;
  font-size: 3.5em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family:'LeagueSpartan-Bold', sans-serif;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
}

.navigator {
  position: relative;
  top: -400px;
  left: 145px;
  width: 150px;
  height: 151px;
  background: url(../img/navi.svg) no-repeat;
  -webkit-animation: navigator 8s infinite ease-in-out alternate;
  -moz-animation: navigator 8s infinite ease-in-out alternate;
  -o-animation: navigator 8s infinite ease-in-out alternate;
  animation: navigator 8s infinite ease-in-out alternate;
}

@keyframes navigator {
  from {
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -webkit-transform: rotate(-55deg);
    transform: rotate(-55deg);
    -moz-transform-origin: 50% 100% 0 50%;
    -ms-transform-origin: 50% 100% 0 50%;
    -webkit-transform-origin: 50% 100% 0 50%;
    transform-origin: 50% 100% 0 50%;
    transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0
  }

  to {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -moz-transform-origin: 50% 100% 0 50%;
    -ms-transform-origin: 50% 100% 0 50%;
    -webkit-transform-origin: 50% 100% 0 50%;
    transform-origin: 50% 100% 0 50%;
    transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0
  }
}

/*----------------------------
	The WORK section
-----------------------------*/


/* SKILLS BAR */

.back {
  background: none !important;
}

#contact{
  overflow: hidden;
  height: 50%;
  background-size: cover;
  background-image: url("../img/worker.png");
  background-position: center;
  background-repeat: no-repeat;
  font: blue;
}

.contact h1{
  text-align: center;
  letter-spacing: 6px;
  font-size: 3em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family:'LeagueSpartan-Bold', sans-serif;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
}

/* Contact form */


.contact-wrap {
  display: inline-block;
  position: absolute;
  margin-top: 12%;
  margin-left: 60%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  -moz-border-radius: 30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  background-color: rgba(0, 0, 0, 0.17);
  padding: 10px 30px 10px 30px;
}

.form-field {
  padding: 10px;
  position: relative;
  margin: 32px 0;
}

.input-text {
  width: 100%;
  height: 36px;
  font-family: 'Lato', 'sans-serif';
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: white;
}

.label {
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(177, 177, 177, 0.77);
  cursor: text;
  transition: transform 0.2s ease-in-out;
}

.submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  margin-left: 60%;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* FOOTER */

footer{
  overflow: hidden;
  font-family: 'Lato', 'sans-serif';
  height: auto;
  text-align: center;
  background: #f7f7f7;
  color: #06091a;
  -webkit-font-smoothing: antialiased;
}

.fa {
  padding-left: 40px;
  padding-right: 40px;
  color: #000000;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  color: red;
  cursor: pointer;
  -webkit-transition: color 200ms ease-in;
  -moz-transition: color 200ms ease-in;
  -o-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}



/* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  ::selection {
    background: #fc090c;
    text-shadow: #f2fcff;
  }
}
